# Database
DATABASE_URL="postgresql://username:password@your-server.postgres.database.azure.com:5432/skywings_db?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="generate-a-random-32-char-secret-here"
NEXTAUTH_URL="http://localhost:3000"
